{% extends 'base.html' %} 
{% block title %} 
<title> To do List </title>
{% endblock %} 

{% block content %} 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employment</th>
        <th scope="col">Starttime</th>
        <th scope="col">Endtime</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    {% for todolist in todolists %}
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ todolist.name }}</td>
        <td>{{ todolist.starttime }}</td>
        <td>{{ todolist.endtime }}</td>
        <td>{{ todolist.date }}</td>
        <td><input type="checkbox" checked="true" /> Was Done</td>
        <td><input type="checkbox" checked="false" />Was not Done </td>
      </tr>
    </tbody>
  </table>
    {% endfor %}
{% endblock %}